* {
  box-sizing: border-box;
  margin: 0;
}
.header{
  width: 95%;
  height: 120px;
  background:#ccc;
  padding: 15px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  border-radius: 22px;
  align-self: center;
  margin: 12px;
  align-items: center;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  li {
    caret-color: #ccc;
    float: left;
  }
    li a {
      display: block;
      color: white;
      padding: 50px;
      text-decoration:none ;

    }

    li a:hover {
      padding: 25px;
      background-color: rgba(211,162,206,0.33);
      border: rgba(211,162,206,0.33) 0.2px solid ;
      border-radius: 20%;
    }
  }

.menu{
  width: 150px;
  height: 100%;
  box-shadow: 3px 3px #ccc;
  border-right: 1px solid #999;
  border-bottom: 1px solid #999;
  border-radius: 5px;
 // transition: all cubic-bezier(0.12, 0.87, 0.15, 1) 1s;
  //transform: translateX(-100%);

  animation:menu-animation cubic-bezier(0.12, 0.87, 0.15, 1) 3.5s .1s both;
  margin: 20px;
  //&.menu--opened
  //{
  //  transform: translateX(0);
  //}

  .menu-item{
    padding: 15px;
    border-bottom: 1px solid #999;
    &:first-child{
      text-decoration: underline;
    }
    &:hover{
      text-decoration: underline;
      background: deeppink;
      cursor: pointer;
    }
  }
}

@keyframes menu-animation {
  0%{
    opacity: 0;
    transform: translateX(-100%)
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }

}
.table{
  border-collapse: collapse;
  margin-left: 30px;
  column-gap: 10px;
  thead{
    background-color: white;

  }
  tbody{}
  tr{

    &:hover{
      td {
        color: deeppink;
        cursor: pointer;
      }
      .action{

        opacity: 1;
        color:rgba(72,104,255,0.62) ;
        cursor: pointer;
      }

    }
    &.deleted{
      td{
        line-height: 0;
        font-size: 0;
        padding: 0;
      border: none;
      height: 0;
        opacity: 0;

      }
    }


  }

.selectItem{
  &:nth-child(even) {
    background: rgba(238,203,255,0.41);

  }
  &.selected{
    color: deeppink;
    border: solid coral 2px;
  }
}

  td{

    margin-right: 20px;
    padding: 4px 20px;
    transition: all linear .24s;
    &.action{
      opacity: 0;
      border: none;
      background-color: white;

    }
  }
}

.body {
  display: flex;

  &.body--menu {
    .table {
      animation: table-animation cubic-bezier(0.12, 0.87, 0.15, 1) 1s both;
      margin-left: 50px;
      @keyframes table-animation {
        0% {
          transform: translateX(-100%);
        }
        100% {
          transform: translateX(0);
        }
      }
    }
  }
}

.menu-button{
  border: 3px darkblue solid;
  background-color: lightgray;
  background-blend-mode: hard-light;
// what does this
margin-left: 20px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items:center ;
  justify-content: center;
  cursor: pointer;
  color: darkblue;
  &:hover{
    color: blue;
    border: 1.8px blue solid;
    background-color: lightgray;
  }
}
.info{
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  max-width: 98%;

  width: 200px;
  height: 270px;
  //padding: 0.01em 16px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 50px;
  margin-inline-end: 0px;
  animation: menu-animation cubic-bezier(0.12, 0.87, 0.15, 1) 1s both;
  .info-img{
    max-width: 100%;
}
}
.container{
  height: 100%;
  overflow: auto;
  position: absolute;
  width: 100%;
}

