<div class="header">
  <div class="menu-button" (click)="openMenu()">
    <h1>M</h1>
  </div>

  <ul class="taskbar">
    <li><a href="#home">Home</a></li>
    <li><a href="#news">News</a></li>
    <li><a href="#contact">Contact</a></li>
    <li><a href="#about">About</a></li>
  </ul>
  <div class="logo">
    <img src="http://localhost:63342/my-project-name/src/app/logo.jpg" alt="logo" >
  </div>
</div>
<div class="body" [ngClass]="{'body--menu':menuIsOpen}">
<div class="menu" *ngIf="menuIsOpen">
  <!-- [ngClass]="{'menu--opened': this.menuIsOpen}"> -->
  <div class="menu-item">
    link1
  </div>
  <div class="menu-item">
    link2
  </div>
  <div class="menu-item">
    link3
  </div>
  <div class="menu-item">
    link3
  </div>
  <div class="menu-item">
  link3
</div>
  <div class="menu-item">
  link3
</div>
  <div class="menu-item">
  link3
</div>
  <div class="menu-item">
  link3
</div>
  <div class="menu-item">
  link3
</div>
</div>
<table class="table">
  <thead>

  <tr>

    <th>
    ID
    </th>
    <th>
      Name
    </th>
    <th>
      Surname
    </th>
    <th>
      Specialization
    </th>
  </tr>
  </thead>

  <tbody>
    <ng-container *ngFor="let item of data; let i = index">

    <tr  [ngClass]="{'deleted': item.deleted == true }" >
<div [ngClass]="{'deleted': item.deleted == true ,'selected': item.selected == true}" (click)=select(item)  class=" selectItem">
    <td>
      {{i+1}}
    </td>
    <td>
      {{item.name}}
    </td>
    <td>
      {{item.surName}}
    </td>
    <td>
      {{item.specialization}}
    </td>
</div>
      <td class="action" (click)="item.deleted = true" >
        x
      </td>
  </tr>




  </ng-container>
    </tbody>
</table>
  <ng-container *ngFor="let item of data; let i = index">
  <div class="info" *ngIf="item.selected == true">
    <img alt="Avatar" class="info-img" src="http://localhost:63342/my-project-name/src/app/avatar/img_avatar_men.png" />
    <h4>
     {{name}}  {{surname}} <br>
    </h4>
    {{info}}
  </div>
  </ng-container>
  </div>

